ul {
  list-style: none;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}


.inaline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line2 {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}